<section class="author" id="author_link">
    <div class="container">
        <div class="p-x">
            <p class="section-title">Від автора</p>
            <p class="display-4">Ми не шукаємо замовлення!</p>
            <p>Ми не шукаємо замовлення. Ми маримо сміливими ідеями і ексклюзивним дизайном.</p>
            <p>Тільки так можна зробити найголовніше в оформленні інтер'єру - зрозуміти того,
             хто буде в ньому жити чи працювати.</p>
            <p>Простір має бути комфортним і функціональним.</p>
            <p>Але універсальних формул, які дозволили б вирішити ці завдання, не існує.</p>
            <p>У всіх все індивідуально. Ми поставимо вам запитання і сформуємо 
            поняття затишку, комфорту і функціональності.</p>
            <p>Запитуємо - як психологи і даємо результат - як дизайнери. Тільки так можна зробити найголовніше в оформленні інтер'єру - зрозуміти того,
                хто буде в ньому жити чи працювати.</p>
            <p>Простір має бути комфортним і функціональним.</p>
            <p>Але універсальних формул, які дозволили б вирішити ці завдання, не існує.</p>
            <p>У всіх все індивідуально. Ми поставимо вам запитання і сформуємо 
                поняття затишку, комфорту і функціональності.</p>
            <p>Запитуємо - як психологи і даємо результат - як дизайнери.</p>
            <div class="text-sm-right">
                <div>
                    <p>Andrey Kononchuk</p>
                    <p>Chief Designer at Andie Rich Design</p>
                </div>
            </div>
        </div> 
    </div>
</section>