<footer id="contacts_link">
    <div class="container">
        <p class="section-title m-l-100">Переходимо до справи</p>
        <p class="display-4 m-l-100">дозвольте нам створити кращий дизайн для вас</p>
        <div class="row d-md-none">
            <div class="col-12">
                <form class="footer__form footer__form_sm">
                    <input type="text" placeholder="ім'я">
                    <input type="text" placeholder="телефон">
                    <input type="text" placeholder="email">
                    <textarea placeholder="коментар"></textarea>
                    <button type="submit">зв'язатись зі мною</button>
                </form>
            </div>
        </div>
        <div class="row m-l-100 no-gutters justify-content-md-between">
            <div class="col-9 col-md-5 footer__contacts">
                <p>andie@andierich.com</p>
                <p>044-257-56-99</p>
            </div>
            <div class="d-none d-md-block col-md-4 text-right p-r-19">
                <button class="btn-black" type="button" data-toggle="modal" data-target="#footerAppModal">залиште заявку</button>
            </div>
            <div class="d-none d-md-block col-md-3">
                <button class="btn-grey" type="button"  data-toggle="modal" data-target="#ConsultModal">консультація</button>
            </div>
            <div class="col-3 col-md-auto order-md-2 text-right footer__logo-sm">
                <img alt="" src="img/logo-bottom.png">
            </div>
            <div class="col-12 col-md-auto align-self-end footer__address">
                <p>Україна, Київ, вул Щорса 36</p>
            </div>
            <div class="col-12 col-md align-self-end">
                <ul class="list-unstyled d-flex justify-content-md-end">
                    <li><a href="#">== facebook</a></li>
                    <li><a href="#">=== instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="row m-l-100 no-gutters">
            <div class="col-12 text-right footer__logo-container">
                <div>
                    <img alt="" src="img/logo.png">
                </div>
            </div>
        </div>
    </div>

    //= footer_modal_app_form.html
    //= consult_modal.html

</footer>