<div class="modal fade header-menu" id="HeaderMenu" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header container d-flex justify-content-between">
                    <button type="button" class="close float-none" data-dismiss="modal" aria-label="Close" title="close">
                        <span aria-hidden="true"><img src="img/menu-close.png"></span>
                    </button>
                    <div class="modal-logo-top">
                        <img src="img/menu-logo.png">
                    </div>
                </div>
                <div class="modal-body container d-flex justify-content-end">
                    <nav>
                        <a class="menu-item" href="#home_link">Головна</a>
                        <a class="menu-item" href="#service_link">Що ми робимо?</a>
                        <a class="menu-item" href="#portfolio_link">Portfolio</a>
                        <a class="menu-item" href="#reputation_link">Репутація</a>
                        <a class="menu-item" href="#author_link">Від автора</a>
                        <a class="menu-item" href="#team_link">Про команду</a>
                        <a class="menu-item" href="#contacts_link">До справи</a>
                    </nav>
                </div>
                <div class="modal-footer container d-flex justify-content-between">
                    <div>
                        <ul class="list-unstyled d-sm-flex align-items-center">
                            <li><a href="#">== facebook</a></li>
                            <li><a href="#">=== instagram</a></li>
                        </ul>
                    </div>
                    <div class="modal-logo">
                        <img alt="" src="img/logo-wh.png">
                    </div>
                </div>
             </div>
        </div>
    </div>