<section class="portfolio" id="portfolio_link">
    <div class="container">
        <p class="section-title m-l-100">portfolio</p>
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-md">
                <p class="display-4 m-l-100">Наші роботи</p> 
            </div>
            <div class="col-12 col-md-auto d-flex justify-content-between">
                <button class="btn-black" type="button">архітектура</button>
                <button class="btn-grey" type="button">інтер'єри</button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters portfolio__item-container">
                <div class="col-12 col-md-7">
                    <div class="position-relative portfolio__item">
                        <img src="img/portfolio-1.jpg" alt="" height="652px">
                        <p class="position-absolute">Project name</p>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="position-relative portfolio__item">
                        <img src="img/portfolio-2.jpg" alt="" height="313px">
                        <p class="position-absolute">Project name</p>
                    </div>
                    <div class="position-relative portfolio__item">
                        <img src="img/portfolio-3.jpeg" alt="" height="336px">
                        <p class="position-absolute">Project name</p>
                    </div>
                </div> 
        </div>
    </div>
    <div class="container">
        <div class="row no-gutters portfolio__btn-container">
            <div class="col-12 col-md-auto order-md-3">
                <button type="button">Завантажити ще роботи</button>
            </div>
            <div class="col-12 col-md order-md-1">
                <button type="button" data-toggle="modal" data-target="#PriceModal">дізнатись ціну</button>
            </div>
            <div class="col-12 col-md order-md-2">
                <button type="button" data-toggle="modal" data-target="#PortfolioGiftModal">1 приміщення у подарунок</button>
            </div>
        </div>
    </div>
    //= portfolio_gift_modal.html
    //= price_modal.html
</section>