<section class="portfolio container" id="portfolio_link">
    <p class="section-title m-l-150">portfolio</p>
    <div class="row align-items-center justify-content-between">
        <div class="col-12 col-md">
            <p class="display-4 m-l-155">Наші роботи</p> 
        </div>
        <div class="col-12 col-md-auto d-flex justify-content-between">
            <button class="btn-black" type="button">архітектура</button>
            <button class="btn-grey" type="button">інтер'єри</button>
        </div>
    </div>
    <div class="row no-gutters portfolio__item-container">
        <div class="col-12 col-md-7">
            <div class="position-relative portfolio__item">
                <img src="img/portfolio-sm.png" alt="" height="652px">
                <p class="position-absolute">Project name</p>
            </div>
        </div>
        <div class="col-12 col-md-5">
            <div class="position-relative portfolio__item">
                <img src="img/portfolio-2.png" alt="" height="313px">
                <p class="position-absolute">Project name</p>
            </div>
            <div class="position-relative portfolio__item">
                <img src="img/portfolio-3.png" alt="" height="334px">
                <p class="position-absolute">Project name</p>
            </div>
        </div> 
    </div>
    <div class="row no-gutters portfolio__btn-container">
        <div class="col-12 col-md-auto order-md-3">
            <button type="button">Завантажити ще роботи</button>
        </div>
        <div class="col-12 col-md order-md-1">
            <button type="button">дізнатись ціну</button>
        </div>
        <div class="col-12 col-md order-md-2">
            <button type="button">1 приміщення у подарунок</button>
        </div>
    </div>
</section>