<section class="reputation container" id="reputation_link">
    <p class="section-title m-l-150">репутація</p>
    <p class="display-4 m-l-150">відгуки клієнтів</p>
    <div class="reputation__carousel owl-carousel owl-theme">
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-1.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                        Роботою задоволена. Щиро Дякую.
                        Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-2.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                    Роботою задоволена. Щиро Дякую.
                    Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
         </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-3.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                        Роботою задоволена. Щиро Дякую.
                        Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-1.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                        Роботою задоволена. Щиро Дякую.
                        Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-2.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                    Роботою задоволена. Щиро Дякую.
                    Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
         </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-3.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                        Роботою задоволена. Щиро Дякую.
                        Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-1.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                    Роботою задоволена. Щиро Дякую.
                    Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-2.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                    Роботою задоволена. Щиро Дякую.
                    Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
        <div class="item">
            <img class="img-fluid" alt="" src="img/review-3.png">
            <div>
                <p>Надія Голубєва</p>
                <p>CEO Metro</p>
                <p>Дуже дорого виглядає інтер'єр.
                    Роботою задоволена. Щиро Дякую.
                    Всім рекомендую.</p>
                <p>Успіхів</p>
            </div>
        </div>
    </div>
    <button class="nav-prev"><img class="d-none d-sm-block" alt="" src="img/btn-2.png"></button>
    <button class="nav-next"><img class="d-none d-sm-block" alt="" src="img/btn-1.png"></button>
</section>