<section class="service" id="service_link">
    <div class="container">
        <p class="section-title">Що ми робимо?</p>
        <p class="display-4">full stack дизайн</p>
        <div class="row no-gutters">
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>01</div>
                    <p>ДИЗАЙН  інтер'єру</p>
                    <p>Це ідеї, досвід та цілеспрямованість.
                        Ми фантазуємо, пробуємо, міняємо форму
                        і розташування елементів. поки кожен
                        не опиниться на своєму місці, в ідеальній
                        гармонії з іншими.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>02</div>
                    <p>Інженерні роботи</p>
                    <p>Ми з однаковою легкістю виконуємо
                        інженерні роботи різної складності
                        під ключ, використовуючи тільки сертифіковані матеріали і перевірене
                        інженерне обладнання.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>03</div>
                    <p>оздоблювальні роботи</p>
                    <p>Етап, що дуже надихає. Мрія оживає,
                        голі стіни на очах перетворюються
                        в будинок - зручний простір, в якому
                        приємно жити і творити. Саме так,
                        як ви задумали.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>04</div>
                    <p>ДИЗАЙН  інтер'єру</p>
                    <p>Це ідеї, досвід та цілеспрямованість.
                        Ми фантазуємо, пробуємо, змінюємо форму
                        і розташування елементів. поки кожен
                        не опиниться на своєму місці, в ідеальній
                        гармонії з іншими.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>05</div>
                    <p>Комплектація</p>
                    <p>Текст про комплектацію</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="service__item">
                    <div>06</div>
                    <p>Авторський нагляд</p>
                    <p>Авторський нагляд дуже важливий</p>
                </div>
            </div>
        </div>
    </div>
</section>