<div class="modal fade" id="TeamGiftModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header container">
                <button type="button" class="close close-caption float-none" data-dismiss="modal" aria-label="Close" title="close">
                    <span aria-hidden="true"><img src="img/close-lg.png"></span>
                </button>
            </div>
            <div class="modal-body container">
                    <p class="display-4">Отримати подарунок</p>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <form class="footer__form footer__form_lg">
                            <input type="text" placeholder="ім'я">
                            <input type="text" placeholder="телефон">
                            <input type="text" placeholder="email">
                            <textarea placeholder="коментар"></textarea>
                            <div class="text-right">
                                <button type="submit">відправити</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                            <ul class="list-unstyled d-flex footer__social-menu">
                                <li><img class="img-fluid" alt="" src="img/logo-bottom.png"></li>
                                <li><a href="#">== facebook</a></li>
                                <li><a href="#">=== instagram</a></li>
                            </ul>
                        </div>
                        <div class="col-auto modal-logo">
                            <img alt="" src="img/logo.png">
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>