<section class="team" id="team_link">
    <div class="container">
        <div class="row flex-column justify-content-sm-between team__column-container">
            <div class="col-auto m-l-100">
                <p class="section-title">Про команду</p>
                <p class="display-4">Команда мрії</p>
                <p class="l-h">Кілька крутих слів про команду. Які ви креативні і решта тексту для
                    кількості. Андрюха, Зоряна нудьгує. Каже: "Андрій прийшов")</p>
            </div>
            <div class="col-auto m-l-100 team__btn-container">
                <div class="row no-gutters align-items-end">
                    <div class="col-12 col-sm-6">
                        <button type="button" data-toggle="modal" data-target="#TeamConsultModal">безкоштовна консультація</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button type="button" data-toggle="modal" data-target="#TeamGiftModal">1 приміщення у подарунок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= team_consult_modal.html
    //= team_gift_modal.html
</section>