.author {
    background: url(../img/bg-4.jpg) bottom left no-repeat;
    background-size: contain;
    padding-bottom: 34px;

    @media screen and (max-width: 575px) {
        background: url(../img/author-last.png) right bottom no-repeat;
        background-size: contain;
        padding-bottom: 40px;
    }
    
    .p-x {
        
        @media screen and (max-width: 575px) {
            padding: 0 15px;
        }

        @media screen and (min-width: 992px) {
            margin: 0 0 0 100px;
            max-width: 812px;
        }
    }

    p:nth-child(n+3) {
        font-size: 0.95rem;
        line-height: 1rem;

        @media screen and (max-width: 575px) {
            font-style: italic;
            font-weight: 300;
            font-size: 0.67rem;
            line-height: 0.9rem;
            padding-top: 1px;
        }
    }

    p:nth-child(3) {
        padding: 48px 0 15px;

        @media screen and (max-width: 575px) {
            padding: 23px 0 12px;
        }
    }

    div.text-sm-right  {
        margin-top: 60px;

        @media screen and (max-width: 575px) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 40px;
        }

        @media screen and (min-width: 992px) {
            margin-top: 147px;
        }

        p {

            &:first-child {
                font-weight: 500;
                font-size: 1.33rem;
                line-height: 1.65rem;

                @media screen and (max-width: 575px) {
                    font-size: 0.9rem;
                    line-height: 1.45rem;
                }
            }

            &:nth-child(2) {
                font-style: italic;
                font-weight: 300;
                font-size: 0.74rem;
            }
        }
    }

    .section-title {

        &:after {
            width: 145px;
            left: 75px;

            @media screen and (max-width: 575px) {
                width: 76px;
                left: 70px;
            }
        }
    }

    .display-4 {
        margin-top: 42px;
        padding-bottom: 35px;
        border-bottom: 1px solid #5e5e5e;
        position: relative;

        @media screen and (min-width: 992px) {
            font-size: 4.25rem;
            line-height: 4rem;
        }

        @media screen and (max-width: 575px) {
            margin-top: 34px; 
            padding-bottom: 13px;

            &:before {
                position: absolute;
                content: '';
                width: 30px;
                height: 1px;
                bottom: -1px;
                left: -30px;
                background-color: #5e5e5e;
            }
        }
    }
}