header {
    position: relative;

    @media screen and (min-width: 992px) {
        height: 966px;
    }
    
    @media screen and (max-width: 575px) {
        height: 443px;
        padding-top: 62px;

        &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: 31px;
            background-color: #232323;
            bottom: 0;
            right: 50%;
        }
    }

    .header__carousel {
        
        .item {
            max-height: 966px;
                   
            img {
                min-height: 500px;
        
                @media screen and (min-width: 992px) {
                    height: 966px;
                    object-fit: cover;
                    object-position: bottom;
                }
            }
         }
                
        .owl-dots {
            position: absolute;
            bottom: 40px;
            width: 100%;

            @media screen and (min-width: 992px) {
                bottom: 135px;
            }
        
            .owl-dot span {
                border-radius: 0;
                opacity: 0.6;
                height: 15px;
                width: 15px;
                background: #bbbbbb;
            }
        
            .owl-dot.active {
        
                span {
                    background: #fff;
                    opacity: 1;
                    transition: none;
                    position: relative;
        
                    &:after {
                        content: "";
                        width: 13px;
                        height: 13px;
                        top: 1px;
                        left: 1px;
                        border: 1px solid #737373;
                        position: absolute;
                        background: #fff;
                        opacity: 0.6;
                    }
                }  
            }
        }
    }

    .position-absolute {
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding-top: 55px;
    }

    .header__menu {
        
        @media screen and (min-width: 768px) {
            padding-left: 60px;
            margin-top: 8px;
        }

        @media screen and (max-width: 767px) {
            margin-top: 0;
        }
        
        @media screen and (max-width: 575px) {
            margin: 14px auto 0;
            padding: 0;
        }
    }

    .header__logo {
        padding: 83px 0 0 20px;

        img {
            @media screen and (max-width: 575px) {
                width: 250px;
            }
        }

        @media screen and (min-width: 992px) {
            padding: 288px 0 0;
        }
    }
    
    .open__carousel {

        .item {
            border-top: 1px solid #232323;
            border-bottom: 1px solid #232323;
           
            img {
                height: 225px;
                object-fit: cover;
                object-position: bottom;
            }
        }
    }

    .header__contacts {
        position: relative;
        display: none;

        @media screen and (min-width: 768px)  {
            padding-right: 60px;
        }

        @media screen and (min-width: 576px) {
            display: block;
        }

         p {
            color: rgba(35, 35, 35, 255);
            @extend .text-uppercase;
            font-weight: 400;
            font-size: 0.65rem;

            @media screen and (min-width: 768px) {
                font-size: 0.73rem;
            }

            &:nth-of-type(2) {
                font-weight: 500;
                font-size: 1rem;

                @media screen and (min-width: 768px) {
                    font-size: 1.09rem;
                }
            }
        }

        &:before {
            position: absolute;
            content: url(../img/tel.png);
            display: block;
            top: 3px;
            left: -12px;
            width: 20px;
            height: 34px;
        }
    }

    .header__caption {
        position: absolute;
        bottom: 117px;
        right: 0;
        left: 0;
        z-index: 10;
        width: 100%;

        @media screen and (max-width: 575px) {
            text-align: center;
        }

        button {
            @extend .text-uppercase;
            font-size: 0.84rem;
            line-height: 1.35rem;

            @media screen and (min-width: 576px) {
                color: #fff;
                margin-left: 60px;
                font-weight: 900;
            }
        }

        @media screen and (min-width: 576px)  {
            border-bottom: 1px solid #fff; 
        }

        @media screen and (min-width: 992px) {
            bottom: 256px;
            font-size: 0.87rem;
        } 
    }

    .modal-content {
        background-color: transparent;
        border: none;
    }

    .close {
        margin-right: 20px;
        margin-bottom: 15px;       
        opacity: 1;
    }

    .open__carousel-wrapp {
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        bottom: 118px;
        right: 0;
        left: 0;
        z-index: 10;

        @media screen and (min-width: 992px) {
            bottom: 258px;
        }

        .close-carousel-btn {
            margin: 0 20px 15px 0;
        }
    }
}